<h3>
	<img
		src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Telegram-Animated-Emojis/main/People/Waving%20Hand.webp"
		alt="Waving Hand"
		width="24"
		height="24"
	/>
	World
</h3>
<p>
	I'm <strong>Andrew</strong>, a software engineer from Montreal, Canada with
	over a decade and counting of experience leading teams and bringing tech
	visions to life. When I'm not immersed in code, you might find me canoeing
	(touching grass), creating music, or painting—pursuits that keep me grounded
	and inspired.
</p>
<h3>Publications</h3>
<p>{{.Website.Description}}</p>

{{range .Website.BlogPosts}} 
{{ .PubDate }} <br />
<a href="{{ .Link }}" target="_blank"> {{ .Title }} - {{ .Description }}</a>
{{end}}

<h3>Quote of the day :)</h3>
<text
	>{{ .Quote.Quote }}<br />
	—{{ .Quote.Author }}</text
>

<h3>Where to find me?</h3>
<p>
	<a href="https://linkedin.com/in/andrewpl" target="_blank"
		><img
			alt="LinkedIn"
			src="https://img.shields.io/badge/linkedin-%2312100E.svg?&style=for-the-badge&logo=linkedin&logoColor=blue"
	/></a>
	<a href="https://twitter.com/apl8080" target="_blank"
		><img
			alt="Twitter"
			src="https://img.shields.io/badge/twitter-%2312100E.svg?&style=for-the-badge&logo=x&logoColor=white"
	/></a>
	<a href="https://apl9000.substack.com" target="_blank"
		><img
			alt="Substack"
			src="https://img.shields.io/badge/substack-%2312100E.svg?&style=for-the-badge&logo=substack&logoColor=orange"
	/></a>
</p>
<img
	src="https://github-readme-streak-stats.herokuapp.com/?user=apl9000&theme=dark&hide_border=true"
	alt="GitHub Readme Streak Stats"
/>
<br />
<table>
	<tr>
		<th></th>
		<th>Currency</th>
		<th>Rate</th>
	</tr>
	<tr>
		<td>
			<img
				alt="Canada Flag"
				width="68"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/2880px-Flag_of_Canada_%28Pantone%29.svg.png"
			/>
		</td>
		<td>CAD</td>
		<td>{{ .Rates.CAD }}</td>
	</tr>
	<tr>
		<td>
			<img
				alt="US Flag"
				width="66"
				src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1600px-Flag_of_the_United_States.svg.png?20151118161041"
			/>
		</td>
		<td>USD</td>
		<td>{{ .Rates.USD }}</td>
	</tr>
	<tr>
		<td>
			<img
				alt="Mexico Flag"
				width="66"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/2560px-Flag_of_Mexico.svg.png"
			/>
		</td>
		<td>MXN</td>
		<td>{{ .Rates.MXN }}</td>
	</tr>
	<tr>
		<td>
			<img
				alt="Euro Flag"
				width="66"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/2560px-Flag_of_Europe.svg.png"
			/>
		</td>
		<td>EUR</td>
		<td>{{ .Rates.EUR }}</td>
	</tr>
	<tr>
		<td>
			<img
				alt="UK Flag"
				width="66"
				src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1920px-Flag_of_the_United_Kingdom.svg.png"
			/>
		</td>
		<td>GBP</td>
		<td>{{ .Rates.GBP }}</td>
	</tr>
		<tr>
		<td>
			<img
				alt="Australia Flag"
				width="66"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/2560px-Flag_of_Australia_%28converted%29.svg.png"
			/>
		</td>
		<td>AUD</td>
		<td>{{ .Rates.AUD }}</td>
	</tr>
	<tr>
		<td>
			<img
				alt="Japan Flag"
				width="66"
				src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1920px-Flag_of_Japan.svg.png"
			/>
		</td>
		<td>JPY</td>
		<td>{{ .Rates.JPY }}</td>
	</tr>
</table>
<br />
<img
	alt="Github profile views"
	src="https://pageview.vercel.app/?github_user=apl9000"
/>
<img
	alt="README Update"
	src="https://github.com/apl9000/apl9000/actions/workflows/readme_update.yaml/badge.svg"
/>
<p>Last updated: {{ .Timestamp }}</p>
