{{ range .Website.Description }}
<p>{{.}}</p>
{{ end }}
<h3>Blog</h3>
{{ range .Website.BlogPosts }} {{ .PubDate }}
<br />
<a href="{{$.Website.Url}}blog/{{ .Slug }}" target="_blank">
{{ .Title }} - {{ .Summary }}</a>
<br />
<br />
{{end}}
<h3>Quote of the day :)</h3>
<text
  >{{ .Website.QuoteOfTheDay.Text }}<br />
  —{{ .Website.QuoteOfTheDay.Author }}</text
>
<h3>Where to find me?</h3>
<p>
  {{ range .Website.Socials }}
  <a href="{{ .Href }}" target="_blank">{{ .Name }}</a><br />
  {{ end }}
</p>
<h3>Exchange Rates</h3>
<table>
  <tr>
    <th></th>
    <th>Currency</th>
    <th>Rate</th>
    <!-- <th>YTD % Change </th> -->
  </tr>
  <tr>
    <td>
      <img
        alt="Canada Flag"
        width="66"
        src="https://flagcdn.com/w80/ca.png"
      />
    </td>
    <td>CAD</td>
    <td>{{ .Rates.CAD }}</td>
  </tr>
  <tr>
    <td>
      <img
        alt="US Flag"
        width="66"
        src="https://flagcdn.com/w80/us.png"
      />
    </td>
    <td>USD</td>
    <td>{{ .Rates.USD }}</td>
  </tr>
  <tr>
    <td>
      <img
        alt="Mexico Flag"
        width="66"
        src="https://flagcdn.com/w80/mx.png"
      />
    </td>
    <td>MXN</td>
    <td>{{ .Rates.MXN }}</td>
  </tr>
  <tr>
    <td>
      <img
        alt="Euro Flag"
        width="66"
        src="https://flagcdn.com/w80/eu.png"
      />
    </td>
    <td>EUR</td>
    <td>{{ .Rates.EUR }}</td>
  </tr>
  <tr>
    <td>
      <img
        alt="UK Flag"
        width="66"
        src="https://flagcdn.com/w80/gb.png"
      />
    </td>
    <td>GBP</td>
    <td>{{ .Rates.GBP }}</td>
  </tr>
  <tr>
    <td>
      <img
        alt="Australia Flag"
        width="66"
        src="https://flagcdn.com/w80/au.png"
      />
    </td>
    <td>AUD</td>
    <td>{{ .Rates.AUD }}</td>
  </tr>
  <tr>
    <td>
      <img
        alt="Japan Flag"
        width="66"
        src="https://flagcdn.com/w80/jp.png"
      />
    </td>
    <td>JPY</td>
    <td>{{ .Rates.JPY }}</td>
  </tr>
</table>
<br />
<img
  alt="README Update"
  src="https://github.com/apl9000/apl9000/actions/workflows/readme_update.yaml/badge.svg"
/>
<p>Last updated: {{ .Timestamp }}</p>
